* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eea1cd;
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 5rem;
    font-weight: 600;
    color: #1640D6;
}

.container {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    /* When there is no space for the boxes ... they will come down */
    flex-wrap: wrap;
    gap: 1.5vmin;
    margin: 20px;
}

.box {
    height: 18vmin;
    width: 18vmin;
    background-color: #fde4f2;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #1640D6;
}

#reset-btn {
    padding: 1rem;
    font-size: 2rem;
    background-color: #E95793;
    color: #fde4f2;
    font-weight: 800;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;

}

#reset-btn:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: #f04c90;
    transform: translateY(5px);
}

#new-btn {
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    background-color: #E95793;
    color: #fde4f2;
    font-weight: 800;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;

}

#new-btn:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: #f04c90;
    transform: translateY(5px);
}

#msg {
    color: #1640D6;
    font-weight: 800;
    font-size: 5rem;
}

.msg-container {
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hide {
    display: none;
}